<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seecen.health.core.mapper.AssessmentMapper">
    
    <!-- 根据会员ID查询评估历史 -->
    <select id="findByMemberId" parameterType="java.lang.Integer" resultType="com.seecen.health.common.entity.Assessment">
        SELECT * FROM t_assessment 
        WHERE member_id = #{memberId} 
        ORDER BY assessment_date DESC
    </select>
    
</mapper>
