<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句   -->
<mapper namespace="com.seecen.health.core.mapper.CheckGroupMapper">
    <!-- 检查组和检查套餐关联关系 -->
    <select id="countCheckGroupId" resultType="int">
        select count(*) from t_setmeal_checkgroup where checkgroup_id = #{checkGroupId}
    </select>

    <!-- 根据检查组的id 查询 检查项 id 列表 -->
    <select id="findCheckItemIdsByCheckGroupId" resultType="int">
        select checkitem_id from t_checkgroup_checkitem where checkgroup_id = #{checkGroupId}
    </select>
    <insert id="batchInsertCheckGroupCheckItem">
        insert into t_checkgroup_checkitem (checkgroup_id,checkitem_id) values
        <foreach collection="checkItemIds" item="checkItemId" separator=",">
            (#{checkGroupId},#{checkItemId})
        </foreach>
    </insert>

    <!--根据检查组的id删除检查项关联关系-->
    <delete id="deleteCheckGroupCheckItem">
        delete
        from t_checkgroup_checkitem
        where checkgroup_id = #{checkGroupId}
    </delete>
</mapper>