<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句   -->
<mapper namespace="com.seecen.health.core.mapper.SetmealMapper">
    <!-- 检查套餐是否关联订单 -->
    <select id="countBySetmealId" resultType="int">
        select count(*)
        from t_order
        where setmeal_id = #{setmealId}
    </select>

    <!-- 根据套餐的id 查询 检查组 id 列表 -->
    <select id="findCheckGroupIdsBySetmealId" resultType="int">
        select checkgroup_id
        from t_setmeal_checkgroup
        where setmeal_id = #{setmealId}
    </select>
    <!-- 批量添加套餐和检查组的关联关系 -->
    <insert id="batchInsertSetmealCheckGroup">
        insert into t_setmeal_checkgroup (setmeal_id, checkgroup_id) values
        <foreach collection="checkGroupIds" item="checkGroupId" separator=",">
            (#{setmealId}, #{checkGroupId})
        </foreach>
    </insert>

    <!-- 根据套餐id删除 检查组关联关系 -->
    <delete id="deleteSetmealCheckGroup">
        delete
        from t_setmeal_checkgroup
        where setmeal_id = #{setmealId}
    </delete>
</mapper>